body{font-family: arial; margin: 0; background-color: #CABCAD;}
div.titre{height: 100px; background-color: #AD9A84; text-align: center; margin-top: -22px;}
div.titre h1{color: white; margin-bottom: 10px; padding-top: 10px;}
div.centre {text-align: center;}